<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Testing Project/cucumber_demo/src/test/java/testRunner">
       <classes>
           <class name="testRunner.runnerClass">

           </class>
       </classes>
    </test>
</suite>